<table class="table table-hover">
    <tr>
        <td width="64px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(64) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            <span class="post_timestamp">
                {{ moment(post.timestamp).fromNow() }}</span>
            <br>
            <span id="post{{ post.id }}">{{ post.body }}</span>
            {% if post.language and post.language[:2] != g.locale[:2] %}
            {# only compare language code #}
                {% if post.language %}
                    <br>
                    <span class="translate-button" id="translate{{ post.id }}">
                        <a href="javascript:translate('#post{{ post.id }}', '#translate{{ post.id }}', '{{ post.language[:2] }}', '{{ g.locale[:2] }}');" >
                            <i class="material-icons md-12">g_translate</i> {{ _("Translate") }}
                        </a>
                    </span>
                {% endif %}
            {% endif %}
            <br>
            <ul class="text-muted post-options list-inline">
                <li class="option-diabled"><a href="#" title="{{ _('This doensn\'t work for now') }}">
                    <i class="material-icons md-12">reply</i> {{ _("Forward") }}
                </a></li>
                <li class="option-diabled"><a href="#" title="{{ _('This doensn\'t work for now') }}">
                    <i class="material-icons md-12">comment</i> {{ _("Comment") }}
                </a></li>
                <li class="option-diabled"><a href="#" title="{{ _('This doensn\'t work for now') }}">
                    <i class="material-icons md-12">thumb_up</i> {{ _("Like") }}
                </a></li>
                {% if current_user == post.author or current_user.is_admin %}
                    <li class="option-diabled"><a href="#" title="{{ _('This doensn\'t work for now') }}">
                        <i class="material-icons md-12">delete</i> {{ _("Delete") }}
                    </a></li>
                {% endif %}
            </ul>

        </td>
    </tr>
</table>
{% block scripts %}
    <script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src="{{ url_for("static", filename="pics/loading.gif") }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                $(destElem).text(response['text'])
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
    </script>
{% endblock scripts %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/posts.css')}}"/>