{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <h1>{{_("Hello")}}, <a href="/user/{{ user.username }}">{{ user.username }}</a>！</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
<br>
{% for post in posts %}
{% include '_post.html' %}
{% endfor %}
{% include '_pages.html' %}
{% endblock app_content %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/css/forms.css"/>
{% endblock styles %}